.main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.albums{
    gap: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2rem;
    height: 100%;
    width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.title{
    margin: 1rem;
    font-size: 20px;
    color: #fff
}

.artist{
    font-size: 15px;
    color: gray;
}