.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.title{
    margin: 1rem;
    font-size: 20px;
    color: #fff
}

.artist{
    font-size: 15px;
    color: gray;
}